*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#top{
    height: 12vh;
    width: 100%;
    background-image: url(./images/bg-header-desktop.png);
    /* 
    /* background-image: url(./images/bg-header-desktop.png), linear-gradient(to bottom, transparent ,whitesmoke); */
    /*  */
    background-size: cover;
    align-items: center;
    padding-top: 7vh;
}
#top img{
    width: 90px;
    margin: auto;
    display: block;
}
footer{
    width: 100%;
}
footer .foot img{
    width: 3em;
}
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }  */